In [163]:
import pandas as pd

In [169]:
d = pd.read_csv("240420_sentences_each2500plus_with_ptb.csv")
#d = pd.read_csv("240420_remaining_DATASETo71_with_ptb.csv")

In [170]:
print(len(d.index))
d.head()

13240

,score,score_correct,score_g,sentence_id,text,phrases
0,NaN,2.0,2.0,0,"Under Canberra's immigration policy, asylum-se...",Canberra 's immigration policy|Canberra 's|asy...
1,NaN,1.0,1.0,1,"""Baritone roles are usually villainous charact...","Baritone roles|villainous characters , such as..."
2,NaN,3.0,3.0,2,"Five large high-volume, low-speed fans will co...","Five large high-volume , low-speed fans|diners..."
3,NaN,1.0,1.0,3,Market players say it could take months for lo...,Market players|it|months for long-term investo...
4,NaN,3.0,3.0,4,But if we had to keep relying on our past rese...,we|our past reserves|I|we|them|had to keep rel...

In [168]:
#d = d[d['phrases'].notna()]
print(len(d.index))

13172

In [175]:
data = pd.DataFrame()
d = d.replace(np.nan, None, regex=True)

for i in d.index:
    dic = {}
    dic.update({'sentence_id':d.loc[i,'sentence_id']})
    dic.update({'text':d.loc[i,'text']})
    data = data.append(dic,ignore_index=True)
    
    if d.loc[i,'phrases'] is not None:
        for x in d.loc[i,'phrases'].split('|'):
            if x != '':
                dic = {}
                dic.update({'sentence_id':d.loc[i,'sentence_id']})
                dic.update({'text':x})
                data = data.append(dic,ignore_index=True)
                
    for x in d.loc[i,'text'].split():
        if x != '':
            dic = {}
            dic.update({'sentence_id':d.loc[i,'sentence_id']})
            dic.update({'text':x})
            data = data.append(dic,ignore_index=True)

KeyboardInterrupt:

In [ ]:
def get_countOfWords(s):
    lst = s.split(" ")
    if all(char.isdigit() for char in lst): return None
    else: return len(lst)
    
print(data.head())
data['#words'] = data['text'].apply(lambda x: get_countOfWords(x))
data = data.dropna()

In [ ]:
data.head(20)

In [ ]:
d.head()

In [ ]:
d['text'][0]

In [ ]:
d['phrases'][0]

In [138]:
## adding phrase id 
dfg = data.groupby(['sentence_id'])
for id, grp in dfg:
    sid = str(id) + '-p'
    k=1
    for i in grp.index:
        data.loc[i,'phrase_id'] = sid + str(k)
        k += 1
        
data.head(1000)

,sentence_id,text,#words,phrase_id
0,4.0,But if we had to keep relying on our past rese...,21.0,4.0-p1
1,4.0,we,1.0,4.0-p2
2,4.0,our past reserves,3.0,4.0-p3
3,4.0,I,1.0,4.0-p4
4,4.0,a while,2.0,4.0-p5
5,4.0,we,1.0,4.0-p6
6,4.0,them,1.0,4.0-p7
7,4.0,had to keep relying on our past reserves,8.0,4.0-p8
8,4.0,to keep relying on our past reserves,7.0,4.0-p9
9,4.0,keep relying on our past reserves,6.0,4.0-p10
10,4.0,relying on our past reserves,5.0,4.0-p11
11,4.0,think after a while we would have exhausted them,9.0,4.0-p12
12,4.0,would have exhausted them,4.0,4.0-p13
13,4.0,have exhausted them,3.0,4.0-p14
14,4.0,exhausted them,2.0,4.0-p15
15,4.0,But,1.0,4.0-p16
16,4.0,if,1.0,4.0-p17
17,4.0,we,1.0,4.0-p18
18,4.0,had,1.0,4.0-p19
19,4.0,to,1.0,4.0-p20
20,4.0,keep,1.0,4.0-p21
21,4.0,relying,1.0,4.0-p22
22,4.0,on,1.0,4.0-p23
23,4.0,our,1.0,4.0-p24
24,4.0,past,1.0,4.0-p25
25,4.0,"reserves,",1.0,4.0-p26
26,4.0,I,1.0,4.0-p27
27,4.0,think,1.0,4.0-p28
28,4.0,after,1.0,4.0-p29
29,4.0,a,1.0,4.0-p30
...,...,...,...,...
978,272.0,support,1.0,272.0-p21
979,272.0,"us,",1.0,272.0-p22
980,272.0,said,1.0,272.0-p23
981,272.0,Wilfred.,1.0,272.0-p24
982,310.0,Measures to enhance security in Little India.,7.0,310.0-p1
983,310.0,Measures,1.0,310.0-p2
984,310.0,security,1.0,310.0-p3
985,310.0,Little India,2.0,310.0-p4
986,310.0,to enhance security in Little India,6.0,310.0-p5
987,310.0,enhance security in Little India,5.0,310.0-p6
988,310.0,Measures,1.0,310.0-p7
989,310.0,to,1.0,310.0-p8
990,310.0,enhance,1.0,310.0-p9
991,310.0,security,1.0,310.0-p10
992,310.0,in,1.0,310.0-p11
993,310.0,Little,1.0,310.0-p12
994,310.0,India.,1.0,310.0-p13
995,317.0,Our traditional markets the heartland of the ...,20.0,317.0-p1
996,317.0,Our traditional markets,3.0,317.0-p2
997,317.0,the heartland of the usiness,5.0,317.0-p3
998,317.0,the heartland,2.0,317.0-p4
999,317.0,the usiness,2.0,317.0-p5
1000,317.0,"Australia , Japan , United States and Europe",8.0,317.0-p6
1001,317.0,she,1.0,317.0-p7
1002,317.0,"is really in Australia , Japan , United States...",11.0,317.0-p8
1003,317.0,said,1.0,317.0-p9
1004,317.0,Our,1.0,317.0-p10
1005,317.0,traditional,1.0,317.0-p11
1006,317.0,markets,1.0,317.0-p12
1007,317.0,the,1.0,317.0-p13

In [71]:
ndata = pd.merge(data, d[['sentence_id','score_correct']], on='sentence_id')
ndata.to_csv("sentences_phrases_220420.csv",index=None)

In [72]:
ndata.head()

,sentence_id,text,#words,phrase_id,score_correct
0,4727,"Unlike stray cats and dogs, stray salamanders ...",10.0,4727-p1,2.0
1,4727,stray cats and dogs,4.0,4727-p2,2.0
2,4727,stray salamanders,2.0,4727-p3,2.0
3,4727,are more uncommon,3.0,4727-p4,2.0
4,4727,Unlike,1.0,4727-p5,2.0

## removing the extra sentences

	sentence_id	text
sentiment_score		
0.0	26	26
1.0	117	117
2.0	483	483
3.0	586	586
4.0	21	21

In [133]:
ndata_ = pd.DataFrame()
indices = [x for x in ndata.index if '-s' in ndata.loc[x,'sentence_id']]
for i in indices:
    ndata_ = ndata_.append(ndata.loc[i,],ignore_index=True)
len(ndata_.index)

KeyboardInterrupt:

## Filter out the neutral words

In [81]:
usual_scores = ndata[ndata['#words'] < 4]

usual_scores.to_csv("2orlesswords_get_scores.csv",index=None)

In [75]:
len(ndata['score_correct'].isna())

427606

In [99]:
mturk = ndata[ndata['#words']>3]
print(len(mturk.index))
# mturk_final = mturk[mturk['score_correct'].isnull()]

mturk_ = pd.DataFrame()
indices = [x for x in mturk.index if not mturk.loc[x,'phrase_id'].endswith('-p1')]
for i in indices:
    mturk_=mturk_.append(mturk.loc[i,],ignore_index=True)
len(mturk_.index)

86479

74169

In [100]:
mturk_.head()

,#words,phrase_id,score_correct,sentence_id,text
0,4.0,4727-p2,2.0,4727,stray cats and dogs
1,10.0,1857-p4,1.0,1857,the aftermath of a Boko Haram attack on a village
2,7.0,1857-p6,1.0,1857,a Boko Haram attack on a village
3,4.0,1857-p7,1.0,1857,a Boko Haram attack
4,20.0,1857-p11,1.0,1857,shows the aftermath of a Boko Haram attack on ...

In [110]:
mturk_.to_csv("mturk_230420_sp.csv")
mturk_['text'].to_csv("input_mturk_230420.csv",index=None)

In [111]:
import nltk

def get_posTags(s):
    tokens = nltk.word_tokenize(s)
    return nltk.pos_tag(tokens)

mturk_['pos_tags'] = mturk_['text'].apply(lambda x : get_posTags(x))

In [112]:
mturk_.head()

,#words,phrase_id,score_correct,sentence_id,text,pos_tags
0,4.0,4727-p2,2.0,4727,stray cats and dogs,"[(stray, NN), (cats, NNS), (and, CC), (dogs, N..."
1,10.0,1857-p4,1.0,1857,the aftermath of a Boko Haram attack on a village,"[(the, DT), (aftermath, NN), (of, IN), (a, DT)..."
2,7.0,1857-p6,1.0,1857,a Boko Haram attack on a village,"[(a, DT), (Boko, NNP), (Haram, NNP), (attack, ..."
3,4.0,1857-p7,1.0,1857,a Boko Haram attack,"[(a, DT), (Boko, NNP), (Haram, NNP), (attack, ..."
4,20.0,1857-p11,1.0,1857,shows the aftermath of a Boko Haram attack on ...,"[(shows, VBZ), (the, DT), (aftermath, NN), (of..."

In [113]:
mturk_.to_csv("230420_MTurk_input_with_POSTags.csv")

## Removing duplicates

In [176]:
len(mturk_.index)

74169

In [177]:
len(mturk_.drop_duplicates(['text']))

72892

In [178]:
import numpy as np

def group_duplicate_index(df):
    a = df.values
    sidx = np.lexsort(a.T)
    b = a[sidx]

    m = np.concatenate(([False], (b[1:] == b[:-1]).all(1), [False] ))
    idx = np.flatnonzero(m[1:] != m[:-1])
    I = df.index[sidx].tolist()       
    return [I[i:j] for i,j in zip(idx[::2],idx[1::2]+1)]


dlist = group_duplicate_index(mturk_[['text']])

In [179]:
for grp in dlist:
    count=0
    for i in grp:
        if count > 1:
            mturk_.loc[i,'duplicate'] = 1
        count += 1

In [180]:
mturk_.head()

,Unnamed: 0,#words,phrase_id,score_correct,sentence_id,text,pos_tags,duplicate,score
0,0,4.0,4727-p2,2.0,4727,stray cats and dogs,"[('stray', 'NN'), ('cats', 'NNS'), ('and', 'CC...",NaN,None
1,1,10.0,1857-p4,1.0,1857,the aftermath of a Boko Haram attack on a village,"[('the', 'DT'), ('aftermath', 'NN'), ('of', 'I...",NaN,None
2,2,7.0,1857-p6,1.0,1857,a Boko Haram attack on a village,"[('a', 'DT'), ('Boko', 'NNP'), ('Haram', 'NNP'...",NaN,None
3,3,4.0,1857-p7,1.0,1857,a Boko Haram attack,"[('a', 'DT'), ('Boko', 'NNP'), ('Haram', 'NNP'...",NaN,None
4,4,20.0,1857-p11,1.0,1857,shows the aftermath of a Boko Haram attack on ...,"[('shows', 'VBZ'), ('the', 'DT'), ('aftermath'...",NaN,None

In [218]:
import re

tagslist1 = ['NNP','DT','CD','FW','CC']
tagslist2 = ['NNP','NNS']
tagslist3 = ['NNP']

def is_neutral(taglist, tagslist):
    tags =[]
    lst = taglist.split(',')
    lst = lst[1::2]
    for i in lst:
        tag = re.sub("[^A-Z]+",'', i)
        tags.append(tag)
    tags = [x for x in tags if x!= '']
    if all(elem in tagslist for elem in tags):
        return 2
    
mturk_['score_1'] = mturk_['pos_tags'].apply(lambda x: is_neutral(x, tagslist1))
mturk_['score_2'] = mturk_['pos_tags'].apply(lambda x: is_neutral(x, tagslist2))
mturk_['score_3'] = mturk_['pos_tags'].apply(lambda x: is_neutral(x, tagslist3))
#mturk_['score_4'] = mturk_['pos_tags'].apply(lambda x: is_neutral(x, tagslist4))
mturk_['score'] = mturk_[['score_1','score_2','score_3']].apply(lambda x: ''.join(x.dropna().astype(str)),axis=1)
## change the 'score' column

In [219]:
mturk_n = mturk_[mturk_['score'] != '']

In [220]:
mturk_.head()

,Unnamed: 0,#words,phrase_id,score_correct,sentence_id,text,pos_tags,duplicate,score,score_1,score_2,score_3,score_4
0,0,4.0,4727-p2,2.0,4727,stray cats and dogs,"[('stray', 'NN'), ('cats', 'NNS'), ('and', 'CC...",NaN,,NaN,NaN,NaN,NaN
1,1,10.0,1857-p4,1.0,1857,the aftermath of a Boko Haram attack on a village,"[('the', 'DT'), ('aftermath', 'NN'), ('of', 'I...",NaN,,NaN,NaN,NaN,NaN
2,2,7.0,1857-p6,1.0,1857,a Boko Haram attack on a village,"[('a', 'DT'), ('Boko', 'NNP'), ('Haram', 'NNP'...",NaN,,NaN,NaN,NaN,NaN
3,3,4.0,1857-p7,1.0,1857,a Boko Haram attack,"[('a', 'DT'), ('Boko', 'NNP'), ('Haram', 'NNP'...",NaN,,NaN,NaN,NaN,NaN
4,4,20.0,1857-p11,1.0,1857,shows the aftermath of a Boko Haram attack on ...,"[('shows', 'VBZ'), ('the', 'DT'), ('aftermath'...",NaN,,NaN,NaN,NaN,NaN

In [221]:
len(mturk_n.index)

1823

In [222]:
del mturk_n['score_1']
del mturk_n['score_2']
del mturk_n['score_3']
# del mturk_n['score_4']
mturk_n['score'] = 2
mturk_n.to_csv("240420_selected_nutral_phrases.csv",index=False)

/NAS/home01/toshal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """