In [1]:
import pandas as pd
import nltk
import string
import csv
import itertools

In [14]:
data=pd.read_csv('ST_MTurk.csv')

In [15]:
data.head()

,article ID,date,category,content,tag,noun_words,title,num of words,sentiment,sentiment score,template,author,time
0,153367,8/3/2014,lifestyle,"(REUTERS) - Singer and ""American Idol"" finalis...","[(u'(', '('), (u'REUTERS', 'NNPS'), (u')', ')'...","[u'REUTERS', u'Singer', u'Idol', u'finalist', ...","""american idol"" singer michael johns dies at 35",16,Neutral,0,straitstimes_standard,"""American Idol"" singer Michael Johns dies at 3...","Published on Aug 3, 2014 10:27 AM"
1,171423,7/11/2014,asia,PETALING JAYA (THE STAR/ASIA NEWS NETWORK) - M...,"[(u'PETALING', 'NN'), (u'JAYA', 'NNP'), (u'(',...","[u'PETALING', u'JAYA', u'THE', u'STAR/ASIA', u...","""bung-les"": malaysia mp bung moktar radin's to...",18,Negative,-1,straitstimes_standard,"""Bung-les"": Malaysia MP Bung Moktar Radin's to...","Published on Jul 11, 2014 10:01 AM"
2,150906,8/4/2014,lifestyle,American underwater photographer David Doubile...,"[(u'American', 'NNP'), (u'underwater', 'NN'), ...","[u'American', u'underwater', u'photographer', ...","""the more i uncover, the more i realise what i...",31,Negative,-1,straitstimes_standard,"""The more I uncover, the more I realise what I...","Published on Aug 4, 2014 7:22 PM"
3,185231,12/16/2014,business,Paying with plastic has become so common that ...,"[(u'Paying', 'VBG'), (u'plastic', 'NN'), (u'be...","[u'plastic', u'credit', u'card', u'loans', u't...",$10 billion in outstanding credit card loans b...,19,Negative,-1,straitstimes_standard,$10 billion in outstanding credit card loans b...,"Published on Dec 14, 2014 6:53 AM"
4,197490,12/4/2014,singapore,SINGAPORE - The Education Ministry will set as...,"[(u'SINGAPORE', 'NNP'), (u'-', ':'), (u'The', ...","[u'SINGAPORE', u'Education', u'Ministry', u'fu...",$10 million fund set up for research on tertia...,19,Negative,-1,straitstimes_standard,$10 million fund set up for research on tertia...,"Published on Dec 4, 2014 11:37 AM"

Random sample 1500 articles

In [22]:
x=range(0,12)

In [24]:
len(data)

9983

In [29]:
from random import sample
selected_1500 = sample(range(0,9983),1500)

In [36]:
data_1500 = data.iloc[selected_1500,:]

In [72]:
data_1500['article ID']

5904    212277
6362    165709
4602    198466
9582    237331
4852    210639
1764    162144
5605    165336
4027    168734
487     170809
5898    201599
3772    209241
5683    211555
9866    247835
475     170745
4792    144322
5173    173985
4764    165153
3632    243056
469     170726
4804    231145
5297    159980
4515    164681
714     204942
2504    245825
3610    243024
6481    176585
6793    176792
4879    210774
8286    169772
105     169987
         ...
8667    234605
5776    181488
3413    239294
1660    161766
4004    168607
3616    236925
8046    219427
367     167984
5281    174324
8044    189544
2282    180344
8166    166405
6490    184536
2430    146003
9806    224101
9058    185040
6297    194877
7173    181810
7756    183975
4740    181075
246     159263
3633    243057
9656    223737
7891    184889
8669    234613
4818    152388
1233    155746
3167    162980
3366    193051
7332    200340
Name: article ID, Length: 1500, dtype: int64

In [58]:
from nltk import tokenize
sent=tokenize.sent_tokenize(data_1500["content"][5904])
len(sent)
sent[0:(len(sent)-1)]

['About 1,000 more Muslim families will be eligible for financial assistance from the Islamic Religious Council of Singapore (Muis) after it announced yesterday that it will broaden its qualifying criteria.',
 'The monthly per capita income cap will be raised from $300 to $350, while the amount of assistance to each eligible family will also be increased by $30 a month.',
 'Currently about 5,700 families receive this help each year.',
 'These changes take effect from next month and will cost Muis an extra $2.57 million a year in zakat funds - the annual tithe contributed by Muslims.',
 "Dr Yaacob Ibrahim, Minister-in-charge of Muslim Affairs and Communications and Information Minister, made the announcement at a Ramadan bonus disbursement event at Muis' premises in Braddell Road.",
 'Speaking in Malay to about 240 people from needy families, he said Muis had reviewed the criteria and zakat assistance after taking into account increases in living costs.',
 'Ms Muzaiyanah Hamzah, head of social development at Muis, said the criteria for zakat assistance were last adjusted about seven years ago.',
 'Asked why it has taken so long to do it again, she said "Muis has always been very prudent", adding that sustainability of the assistance scheme was important, and that Muis also uses zakat funds to help others such as those in Islamic religious institutions.',
 "As part of this year's disbursement, more than $1.4 million will be given to 9,729 recipients.",
 'This is 8.2 per cent more than that given last year, mainly because the Ramadan bonus has been extended to more recipients from welfare homes.',
 'Last year, Muis collected $28.4 million in zakat contributions.',
 "Cleaner Abdullah Arbaa, 41, was among the guests at yesterday's event.",
 'His family of six will receive a Ramadan bonus of $600 this year.',
 '"I\'ll use the bonus to buy some clothes for my children and pay off some bills," said the father of four.',
 '"I\'m also very grateful for the increased amount of zakat assistance.',
 'It\'ll help to pay for some of the children\'s school expenses."']

In [48]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\offic\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [65]:
def split_sent(row):
    sent=tokenize.sent_tokenize(row["content"])
    return sent[0:(len(sent)-1)]

data_1500["split_sent"]=data_1500.apply (lambda row: split_sent(row),axis=1)

C:\Users\offic\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [83]:
data_1500_split=data_1500[["article ID","split_sent"]]

In [77]:
data_1500_split.reset_index(inplace=True)

In [87]:
data_1500_split_final = data_1500_split.split_sent.apply(pd.Series) \
.merge(data_1500_split,left_index=True,right_index=True) \
.drop(["split_sent"],axis=1) \
.melt(id_vars=['article ID'],value_name="text") \
.drop("variable",axis=1) \
.dropna()

In [93]:
# shuffle the rows
data_1500_split_final = data_1500_split_final.sample(frac=1).reset_index(drop=True)

In [90]:
len(data_1500_split_final)

24922

In [96]:
# Output into 5 separate files
data_1500_split_final[0:5000].to_csv("ST_MTurk_1500_1.csv")
data_1500_split_final[5000:10000].to_csv("ST_MTurk_1500_2.csv")
data_1500_split_final[10000:15000].to_csv("ST_MTurk_1500_3.csv")
data_1500_split_final[15000:20000].to_csv("ST_MTurk_1500_4.csv")
data_1500_split_final[20000:24922].to_csv("ST_MTurk_1500_5.csv")

In [97]:
data_1500_split_final[0:100].to_csv("ST_MTurk_100.csv")