In [42]:
import pandas as pd
import re
import numpy as np

In [30]:
data = pd.read_csv("290420_Mturk_sentences_agreed.csv")
print(data.groupby('sentiment_score')['text'].count())
data.head()

sentiment_score
0      89
1     326
2    2722
3     981
4     181
Name: text, dtype: int64

,text,sentiment_label,sentiment_score
0,SINGAPORE - A popular burger chain from Ameri...,Very Positive,4
1,"""(In some cases) the wife had to be taken to t...",Very Negative,0
2,"""(Kon Chun) was a very good guy and everyone i...",Positive,3
3,""", see what happens if you give an honest answer.",Neutral,2
4,"""A cat cafe might not be the best place for a ...",Positive,3

In [23]:
len(data.index)

4299

In [44]:
data_ = pd.read_csv("290420_Mturk_sentences_NOT_agreed.csv")
print(data_.groupby('sentiment_score').count())

                 text  sentiment  agreement
sentiment_score
0                 167        167        167
1                 210        210        210
2                 549        549        549
3                 401        401        401
4                 332        332        332

In [11]:
def get_nss(x):
    if x=="Positive":
        return 4
    elif x=="Neutral":
        return 2
    elif x=="Negative":
        return 0
    elif x=="Very Positive":
        return 4
    elif x=="Very Negative":
        return 0
    else: return None

del data_['agreement']
data_["sentiment_score"]=data_['sentiment'].apply(lambda x: get_nss(str(x)))
gdata = data_.groupby(['text'])['sentiment_score'].nunique().reset_index(name="agreement")

ndata = pd.merge(data_,gdata,on=['text'])
ndata_ = ndata[ndata['agreement'] < 3]
ndata__ = ndata[ndata.agreement >= 3]

                                                text      sentiment  \
0  Come the weekends, families, couples and frien...       Positive
1  Come the weekends, families, couples and frien...        Neutral
2  Come the weekends, families, couples and frien...  Very Positive
3  It was also very easy for me to feel.. that th...  Very Negative
4  It was also very easy for me to feel.. that th...       Negative

   sentiment_score  agreement
0                4          2
1                2          2
2                4          2
3                0          2
4                0          2

In [12]:
len(ndata_.index)

1449

In [31]:
len(ndata__.nunique())

4

In [17]:
ndata_.head(20)

,text,sentiment,sentiment_score,agreement
0,"Come the weekends, families, couples and frien...",Positive,4,2
1,"Come the weekends, families, couples and frien...",Neutral,2,2
2,"Come the weekends, families, couples and frien...",Very Positive,4,2
3,It was also very easy for me to feel.. that th...,Very Negative,0,2
4,It was also very easy for me to feel.. that th...,Negative,0,2
5,It was also very easy for me to feel.. that th...,Neutral,2,2
6,"Mrs Sng Ngoi May, the executive director of Pa...",Neutral,2,2
7,"Mrs Sng Ngoi May, the executive director of Pa...",Very Positive,4,2
8,"Mrs Sng Ngoi May, the executive director of Pa...",Positive,4,2
12,"Oh, how I laughed at that.",Positive,4,2
13,"Oh, how I laughed at that.",Neutral,2,2
14,"Oh, how I laughed at that.",Very Positive,4,2
15,"Mcdonald's, a popular studying spot for studen...",Neutral,2,2
16,"Mcdonald's, a popular studying spot for studen...",Positive,4,2
17,"Mcdonald's, a popular studying spot for studen...",Positive,4,2
18,"Mcdonald's, a popular studying spot for studen...",Positive,4,2
19,"Mcdonald's, a popular studying spot for studen...",Very Positive,4,2
20,"Mcdonald's, a popular studying spot for studen...",Neutral,2,2
21,"She feels it's real love,"" adds Lee, who is in...",Neutral,2,2
22,"She feels it's real love,"" adds Lee, who is in...",Very Positive,4,2

In [45]:
gndata_ = ndata_.groupby('text')

for text,grp in gndata_:
    lst = grp['sentiment_score'].tolist()
    data = data.append({'text':text, 'sentiment_score':max(set(lst), key=lst.count)}, ignore_index=True)

In [46]:
len(data.index)

4768

In [47]:
print(data.groupby('sentiment_score')['text'].count())

sentiment_score
0     240
1     326
2    2726
3     981
4     495
Name: text, dtype: int64

In [34]:
len(ndata__.drop_duplicates('text'))

68

In [39]:
data2 = data[data.sentiment_score == 2]
data2 = data2.append(ndata__.drop_duplicates('text'),ignore_index=True)
data2.to_csv("290420_neutral_sentences_nonagreed.csv",index=None)

/NAS/home01/toshal/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [40]:
data2.head()

,agreement,sentiment,sentiment_label,sentiment_score,text
0,NaN,NaN,Neutral,2,""", see what happens if you give an honest answer."
1,NaN,NaN,Neutral,2,"""A leader is best when people barely know he e..."
2,NaN,NaN,Neutral,2,"""A lot of good engineers end up selling proper..."
3,NaN,NaN,Neutral,2,"""A performance in the UK is very spontaneous a..."
4,NaN,NaN,Neutral,2,"""About 20 to 30 per cent of our clientele requ..."

In [41]:
len(data2.index)

2790

### make all 1 -> 0, 3 -> 4

In [48]:
print(data.groupby('sentiment_score')['text'].count())

sentiment_score
0     240
1     326
2    2726
3     981
4     495
Name: text, dtype: int64

In [50]:
def replace_ss(s):
    if s == 1:
        return 0
    elif s == 3:
        return 4
    else: 
        return s
    
data['sentiment_score'] = data['sentiment_score'].apply(lambda x: replace_ss(x))

In [51]:
print(data.groupby('sentiment_score')['text'].count())

sentiment_score
0     566
2    2726
4    1476
Name: text, dtype: int64

In [54]:
data_final = data[data['sentiment_score'] != 2]
data_final.head()

,text,sentiment_label,sentiment_score
0,SINGAPORE - A popular burger chain from Ameri...,Very Positive,4
1,"""(In some cases) the wife had to be taken to t...",Very Negative,0
2,"""(Kon Chun) was a very good guy and everyone i...",Positive,4
4,"""A cat cafe might not be the best place for a ...",Positive,4
9,"""About 3,000 government offials will try their...",Positive,4

## Final phrases and sentences before PTB

In [55]:
df = pd.read_csv("250420_phrases_sentiment.csv")
df.head()

/NAS/home01/toshal/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,sentence_id,text,#words,phrase_id,score_correct,is_sent,snlp_sentiment_score
0,0,"Under Canberra's immigration policy, asylum-se...",28.0,0-p1,2.0,True,NaN
1,0,Canberra 's immigration policy,4.0,0-p2,2.0,NaN,2.0
2,0,Canberra 's,2.0,0-p3,2.0,NaN,2.0
3,0,asylum-seekers arriving by boat,4.0,0-p4,2.0,NaN,2.0
4,0,asylum-seekers,1.0,0-p5,2.0,NaN,2.0

In [56]:
len(df[df['is_sent']==True])

13240

In [58]:
len(df[df['snlp_sentiment_score']!= None])

469759

In [59]:
len(df.index)

469759

In [60]:
df.head(100)

,sentence_id,text,#words,phrase_id,score_correct,is_sent,snlp_sentiment_score
0,0,"Under Canberra's immigration policy, asylum-se...",28.0,0-p1,2.0,True,NaN
1,0,Canberra 's immigration policy,4.0,0-p2,2.0,NaN,2.0
2,0,Canberra 's,2.0,0-p3,2.0,NaN,2.0
3,0,asylum-seekers arriving by boat,4.0,0-p4,2.0,NaN,2.0
4,0,asylum-seekers,1.0,0-p5,2.0,NaN,2.0
5,0,boat,1.0,0-p6,2.0,NaN,2.0
6,0,the centres for processing,4.0,0-p7,2.0,NaN,2.0
7,0,the centres,2.0,0-p8,2.0,NaN,2.0
8,0,processing,1.0,0-p9,2.0,NaN,2.0
9,0,their asylum application,3.0,0-p10,2.0,NaN,2.0
10,0,they,1.0,0-p11,2.0,NaN,2.0
11,0,Australia,1.0,0-p12,2.0,NaN,2.0
12,0,arriving by boat,3.0,0-p13,2.0,NaN,2.0
13,0,are transferred to the centres for processing,7.0,0-p14,2.0,NaN,2.0
14,0,transferred to the centres for processing,6.0,0-p15,2.0,NaN,2.0
15,0,is successful,2.0,0-p16,2.0,NaN,3.0
16,0,are permanently resettled outside Australia .,6.0,0-p17,2.0,NaN,2.0
17,0,resettled outside Australia .,4.0,0-p18,2.0,NaN,2.0
18,0,Under,1.0,0-p19,2.0,NaN,2.0
19,0,Canberra's,1.0,0-p20,2.0,NaN,2.0
20,0,immigration,1.0,0-p21,2.0,NaN,2.0
21,0,"policy,",1.0,0-p22,2.0,NaN,2.0
22,0,asylum-seekers,1.0,0-p23,2.0,NaN,2.0
23,0,arriving,1.0,0-p24,2.0,NaN,2.0
24,0,by,1.0,0-p25,2.0,NaN,2.0
25,0,boat,1.0,0-p26,2.0,NaN,2.0
26,0,are,1.0,0-p27,2.0,NaN,2.0
27,0,transferred,1.0,0-p28,2.0,NaN,2.0
28,0,to,1.0,0-p29,2.0,NaN,2.0
29,0,the,1.0,0-p30,2.0,NaN,2.0
...,...,...,...,...,...,...,...
70,1,says..,1.0,1-p25,1.0,NaN,2.0
71,2,"Five large high-volume, low-speed fans will co...",17.0,2-p1,3.0,True,NaN
72,2,"Five large high-volume , low-speed fans",6.0,2-p2,3.0,NaN,1.0
73,2,diners,1.0,2-p3,3.0,NaN,2.0
74,2,their hair,2.0,2-p4,3.0,NaN,2.0
75,2,saving energy,2.0,2-p5,3.0,NaN,2.0
76,2,will cool diners without messing up their hair,8.0,2-p6,3.0,NaN,2.0
77,2,cool diners without messing up their hair,7.0,2-p7,3.0,NaN,2.0
78,2,messing up their hair,4.0,2-p8,3.0,NaN,2.0
79,2,Five,1.0,2-p9,3.0,NaN,2.0
80,2,large,1.0,2-p10,3.0,NaN,2.0
81,2,"high-volume,",1.0,2-p11,3.0,NaN,2.0
82,2,low-speed,1.0,2-p12,3.0,NaN,2.0
83,2,fans,1.0,2-p13,3.0,NaN,3.0
84,2,will,1.0,2-p14,3.0,NaN,2.0
85,2,cool,1.0,2-p15,3.0,NaN,3.0
86,2,diners,1.0,2-p16,3.0,NaN,2.0
87,2,without,1.0,2-p17,3.0,NaN,2.0
88,2,messing,1.0,2-p18,3.0,NaN,1.0
89,2,up,1.0,2-p19,3.0,NaN,2.0
90,2,their,1.0,2-p20,3.0,NaN,2.0
91,2,"hair,",1.0,2-p21,3.0,NaN,2.0
92,2,while,1.0,2-p22,3.0,NaN,2.0
93,2,also,1.0,2-p23,3.0,NaN,2.0
94,2,saving,1.0,2-p24,3.0,NaN,3.0
95,2,energy..,1.0,2-p25,3.0,NaN,2.0
96,3,Market players say it could take months for lo...,25.0,3-p1,1.0,True,NaN
97,3,Market players,2.0,3-p2,1.0,NaN,2.0
98,3,it,1.0,3-p3,1.0,NaN,2.0
99,3,months for long-term investors,4.0,3-p4,1.0,NaN,2.0

In [61]:
data_new = pd.read_csv("290420_neutral_sentences_nonagreed_cleanss.csv")
print(len(data_new.index))
data_new.head()

2791

                                                text  new_score
0  ", see what happens if you give an honest answer.        3.0
1  "A leader is best when people barely know he e...        4.0
2  "A lot of good engineers end up selling proper...        0.0
3  "A performance in the UK is very spontaneous a...        0.0
4  "About 20 to 30 per cent of our clientele requ...        0.0

In [64]:
data_new.columns = ['text','sentiment_score']

In [65]:
data_final = pd.concat([data_final[['text','sentiment_score']],data_new])

In [66]:
print(data_final.groupby('sentiment_score')['text'].count())

sentiment_score
0.0    1425
1.0     109
2.0     654
3.0     673
4.0    1949
Name: text, dtype: int64

In [68]:
print(len(df.index))
print(len(data_final.index))

469759
4833

In [74]:
data_final = data_final.dropna()
print(len(data_final.index))

4810

In [75]:
data_sen = pd.read_csv("250420_sentences_Mturk.csv")

In [76]:
data_sen.head()

,score,score_correct,score_g,sentence_id,text,phrases
0,4.0,NaN,4.0,223692-s52,Do you know of any good and cheap hawker fare?,you|any good and cheap hawker fare|know of any...
1,4.0,NaN,4.0,189729-s24,Living molecules bear a charge and thus can in...,Living molecules|a charge|others of their kind...
2,4.0,NaN,4.0,153882-s30,"In the stills, Chow is captioned as saying: ""T...","the stills|Chow|They|a perfect match , a match..."
3,4.0,NaN,4.0,146531-s12,"The good news is, I don't plan to purge my she...",The good news|I|my shelves of his books|my she...
4,4.0,NaN,4.0,208594-s8,"So for the lyrics, I suggested, 'Let us the pe...",the lyrics|I|us|the people of Singapore progre...

In [77]:
data_sen = data_sen[['sentence_id','text']]

In [79]:
print(len(data_sen.index))
data_sen_f = pd.merge(data_sen,data_final,how='outer', on='text')

4888

In [80]:
len(data_sen_f.index)

4924

In [81]:
data_sen_f.head()

,sentence_id,text,sentiment_score
0,223692-s52,Do you know of any good and cheap hawker fare?,3.0
1,189729-s24,Living molecules bear a charge and thus can in...,2.0
2,153882-s30,"In the stills, Chow is captioned as saying: ""T...",4.0
3,146531-s12,"The good news is, I don't plan to purge my she...",4.0
4,208594-s8,"So for the lyrics, I suggested, 'Let us the pe...",4.0

In [82]:
data_sen_f.to_csv("110520_final_merged_sentences.csv",index=None)

In [83]:
data_final_sen = pd.read_csv("110520_final_merged_sentences_cleaned.csv")

In [84]:
data_final_sen.head()

,sentence_id,text,sentiment_score
0,92220-s8,Newcastle manager Alan Pardew's touchline ant...,0.0
1,147270-s27,SINGAPORE - A popular burger chain from Ameri...,4.0
2,152175-s2,- a caper so goofy it just has to work.,4.0
3,218823-s53,- Enjoying the view at The Lantern Bar This sw...,4.0
4,235816-s18,- Left-back Benedikt Howedes had Germany's bes...,0.0

In [85]:
print(data_final_sen.groupby('sentiment_score')['text'].count())

sentiment_score
0.0    1438
1.0     114
2.0     669
3.0     690
4.0    1975
Name: text, dtype: int64

In [86]:
len(data_final_sen.index)

4889

### combine with old sentences and phrases sentiment scores

In [110]:
df = pd.read_csv("250420_phrases_sentiment.csv")

/NAS/home01/toshal/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [111]:
df.head()

,sentence_id,text,#words,phrase_id,score_correct,is_sent,snlp_sentiment_score
0,0,"Under Canberra's immigration policy, asylum-se...",28.0,0-p1,2.0,True,NaN
1,0,Canberra 's immigration policy,4.0,0-p2,2.0,NaN,2.0
2,0,Canberra 's,2.0,0-p3,2.0,NaN,2.0
3,0,asylum-seekers arriving by boat,4.0,0-p4,2.0,NaN,2.0
4,0,asylum-seekers,1.0,0-p5,2.0,NaN,2.0

In [108]:
data_final_sen['phrase_id'] = data_final_sen['sentence_id'] + '-p1'

In [109]:
data_final_sen.head()

,sentence_id,text,sentiment_score,phrase_id
0,92220-s8,Newcastle manager Alan Pardew's touchline ant...,0.0,92220-s8-p1
1,147270-s27,SINGAPORE - A popular burger chain from Ameri...,4.0,147270-s27-p1
2,152175-s2,- a caper so goofy it just has to work.,4.0,152175-s2-p1
3,218823-s53,- Enjoying the view at The Lantern Bar This sw...,4.0,218823-s53-p1
4,235816-s18,- Left-back Benedikt Howedes had Germany's bes...,0.0,235816-s18-p1

In [177]:
data_clean = pd.merge(df,data_final_sen[['sentiment_score','phrase_id']],on=['phrase_id'],how='outer')
print(len(data_clean.index))
data_clean.head()

469761

,sentence_id,text,#words,phrase_id,score_correct,is_sent,snlp_sentiment_score,sentiment_score
0,0,"Under Canberra's immigration policy, asylum-se...",28.0,0-p1,2.0,True,NaN,NaN
1,0,Canberra 's immigration policy,4.0,0-p2,2.0,NaN,2.0,NaN
2,0,Canberra 's,2.0,0-p3,2.0,NaN,2.0,NaN
3,0,asylum-seekers arriving by boat,4.0,0-p4,2.0,NaN,2.0,NaN
4,0,asylum-seekers,1.0,0-p5,2.0,NaN,2.0,NaN

In [178]:
data_clean = data_clean.dropna(subset=['phrase_id'])
print(len(data_clean.index))

469759

In [179]:
def senti_sc(s):
    if s.phrase_id.endswith('-p1'):
        if s.sentiment_score == 'None':
            s.sentiment_score = s.score_correct
    else:
        s.sentiment_score = s.snlp_sentiment_score
    return s
            
data_clean = data_clean.astype(object).replace(np.nan, 'None')
print(data_clean.head())
data_clean = data_clean.apply(lambda row : senti_sc(row), axis=1)

  sentence_id                                               text #words  \
0           0  Under Canberra's immigration policy, asylum-se...     28
1           0                     Canberra 's immigration policy      4
2           0                                        Canberra 's      2
3           0                    asylum-seekers arriving by boat      4
4           0                                     asylum-seekers      1

  phrase_id  score_correct is_sent snlp_sentiment_score sentiment_score
0      0-p1            2.0    True                 None            None
1      0-p2            2.0    None                    2            None
2      0-p3            2.0    None                    2            None
3      0-p4            2.0    None                    2            None
4      0-p5            2.0    None                    2            None

In [180]:
data_clean.tail(1000)

,sentence_id,text,#words,phrase_id,score_correct,is_sent,snlp_sentiment_score,sentiment_score
468759,156630-s2,daring one-armed lifts,3,156630-s2-p10,3.0,None,3,3
468760,156630-s2,is no room for dramatic momentum amidst all th...,18,156630-s2-p11,3.0,None,1,1
468761,156630-s2,There,1,156630-s2-p12,3.0,None,2,2
468762,156630-s2,is,1,156630-s2-p13,3.0,None,2,2
468763,156630-s2,no,1,156630-s2-p14,3.0,None,1,1
468764,156630-s2,room,1,156630-s2-p15,3.0,None,2,2
468765,156630-s2,for,1,156630-s2-p16,3.0,None,2,2
468766,156630-s2,dramatic,1,156630-s2-p17,3.0,None,3,3
468767,156630-s2,momentum,1,156630-s2-p18,3.0,None,2,2
468768,156630-s2,amidst,1,156630-s2-p19,3.0,None,2,2
468769,156630-s2,all,1,156630-s2-p20,3.0,None,2,2
468770,156630-s2,the,1,156630-s2-p21,3.0,None,2,2
468771,156630-s2,dizzying,1,156630-s2-p22,3.0,None,2,2
468772,156630-s2,"pirouettes,",1,156630-s2-p23,3.0,None,2,2
468773,156630-s2,high-flying,1,156630-s2-p24,3.0,None,2,2
468774,156630-s2,jumps,1,156630-s2-p25,3.0,None,2,2
468775,156630-s2,and,1,156630-s2-p26,3.0,None,2,2
468776,156630-s2,daring,1,156630-s2-p27,3.0,None,2,2
468777,156630-s2,one-armed,1,156630-s2-p28,3.0,None,2,2
468778,156630-s2,lifts.,1,156630-s2-p29,3.0,None,3,3
468779,172108-s6,Charting Asean's way forward Beyond the Asean ...,27,172108-s6-p1,3.0,True,None,4
468780,172108-s6,Asean 's way,3,172108-s6-p2,3.0,None,2,2
468781,172108-s6,Asean 's,2,172108-s6-p3,3.0,None,2,2
468782,172108-s6,the Asean Community 2015 goals,5,172108-s6-p4,3.0,None,2,2
468783,172108-s6,Asean leaders,2,172108-s6-p5,3.0,None,2,2
468784,172108-s6,the direction for a post-2015 vision for the g...,9,172108-s6-p6,3.0,None,2,2
468785,172108-s6,the direction,2,172108-s6-p7,3.0,None,2,2
468786,172108-s6,a post-2015 vision for the grouping,6,172108-s6-p8,3.0,None,2,2
468787,172108-s6,a post-2015 vision,3,172108-s6-p9,3.0,None,2,2
468788,172108-s6,the grouping,2,172108-s6-p10,3.0,None,2,2
...,...,...,...,...,...,...,...,...
469729,152630-s14,the,1,152630-s14-p44,3.0,None,2,2
469730,152630-s14,potentially,1,152630-s14-p45,3.0,None,2,2
469731,152630-s14,sinister,1,152630-s14-p46,3.0,None,1,1
469732,152630-s14,consequences,1,152630-s14-p47,3.0,None,2,2
469733,152630-s14,of,1,152630-s14-p48,3.0,None,2,2
469734,152630-s14,connecting,1,152630-s14-p49,3.0,None,2,2
469735,152630-s14,with,1,152630-s14-p50,3.0,None,2,2
469736,152630-s14,total,1,152630-s14-p51,3.0,None,2,2
469737,152630-s14,strangers,1,152630-s14-p52,3.0,None,2,2
469738,152630-s14,through,1,152630-s14-p53,3.0,None,2,2
469739,152630-s14,the,1,152630-s14-p54,3.0,None,2,2
469740,152630-s14,"service,",1,152630-s14-p55,3.0,None,2,2
469741,152630-s14,when,1,152630-s14-p56,3.0,None,2,2
469742,152630-s14,secondary,1,152630-s14-p57,3.0,None,1,1
469743,152630-s14,school,1,152630-s14-p58,3.0,None,2,2
469744,152630-s14,student,1,152630-s14-p59,3.0,None,2,2
469745,152630-s14,Yan,1,152630-s14-p60,3.0,None,2,2
469746,152630-s14,starts,1,152630-s14-p61,3.0,None,2,2
469747,152630-s14,sending,1,152630-s14-p62,3.0,None,2,2
469748,152630-s14,sexy,1,152630-s14-p63,3.0,None,4,4
469749,152630-s14,pictures,1,152630-s14-p64,3.0,None,2,2
469750,152630-s14,of,1,152630-s14-p65,3.0,None,2,2
469751,152630-s14,herself,1,152630-s14-p66,3.0,None,2,2
469752,152630-s14,to,1,152630-s14-p67,3.0,None,2,2
469753,152630-s14,a,1,152630-s14-p68,3.0,None,2,2
469754,152630-s14,guy,1,152630-s14-p69,3.0,None,2,2
469755,152630-s14,she,1,152630-s14-p70,3.0,None,2,2
469756,152630-s14,does,1,152630-s14-p71,3.0,None,2,2
469757,152630-s14,not,1,152630-s14-p72,3.0,None,1,1
469758,152630-s14,know.,1,152630-s14-p73,3.0,None,2,2

In [189]:
c = [x for x in data_clean.sentiment_score.index if data_clean.loc[x,'sentiment_score'] == 'None']

In [191]:
c_ = data_clean.loc[c[0],]
print(c_)
data_clean = data_clean.drop(data_clean.index[c[0]])

sentence_id                 7212
text                        None
#words                         1
phrase_id               7212-p66
score_correct                  2
is_sent                     None
snlp_sentiment_score        None
sentiment_score             None
Name: 266237, dtype: object

In [192]:
data_clean.head()

,sentence_id,text,#words,phrase_id,score_correct,is_sent,snlp_sentiment_score,sentiment_score
0,0,"Under Canberra's immigration policy, asylum-se...",28,0-p1,2.0,True,None,2
1,0,Canberra 's immigration policy,4,0-p2,2.0,None,2,2
2,0,Canberra 's,2,0-p3,2.0,None,2,2
3,0,asylum-seekers arriving by boat,4,0-p4,2.0,None,2,2
4,0,asylum-seekers,1,0-p5,2.0,None,2,2

In [193]:
data_clean.to_csv("110520_cleaned_sentences_phrases.csv",index=None)

In [198]:
data_clean = data_clean.sort_values('phrase_id')
data_clean__ = pd.DataFrame()

for idx, grp in data_clean.groupby('sentence_id'):
    data_clean__ = data_clean__.append(grp, ignore_index=True)
    data_clean__['sentence_id'] = idx
    data_clean__ = data_clean__.append(pd.Series(), ignore_index=True)


data_clean_ = data_clean__[['sentiment_score','text']]

ValueError: cannot convert float NaN to integer

In [205]:
def get_int(x):
    try:
        return int(x)
    except:
        return ' '
    
data_clean_['sentiment_score'] = data_clean_['sentiment_score'].apply(lambda x: get_int(x))
data_clean_ = data_clean_.astype(object).replace(np.nan, ' ')
data_clean_.head(100)

   sentiment_score                                               text
0                2  Under Canberra's immigration policy, asylum-se...
1                2                           their asylum application
2                2                                               they
3                2                                          Australia
4                2                                   arriving by boat
5                2      are transferred to the centres for processing
6                2          transferred to the centres for processing
7                3                                      is successful
8                2      are permanently resettled outside Australia .
9                2                      resettled outside Australia .
10               2                                              Under
11               2                     Canberra 's immigration policy
12               2                                         Canberra's
13               2                                        immigration
14               2                                            policy,
15               2                                     asylum-seekers
16               2                                           arriving
17               2                                                 by
18               2                                               boat
19               2                                                are
20               2                                        transferred
21               2                                                 to
22               2                                        Canberra 's
23               2                                                the
24               2                                            centres
25               2                                                for
26               2                                         processing
27               2                                                and
28               2                                                 if
29               2                                              their
..             ...                                                ...
70               2                                tyrants or schemers
71               2                                                 he
72
73               3  Five large high-volume, low-speed fans will co...
74               2                                              large
75               2                                       high-volume,
76               2                                          low-speed
77               3                                               fans
78               2                                               will
79               3                                               cool
80               2                                             diners
81               2                                            without
82               1                                            messing
83               2                                                 up
84               1            Five large high-volume , low-speed fans
85               2                                              their
86               2                                              hair,
87               2                                              while
88               2                                               also
89               3                                             saving
90               2                                           energy..
91               2                                             diners
92               2                                         their hair
93               2                                      saving energy
94               2     will cool diners without messing up their hair
95               2          cool diners without messing up their hair
96               2                              messing up their hair
97               2                                               Five
98
99               1  Market players say it could take months for lo...

[100 rows x 2 columns]

In [206]:
np.savetxt(r'110520_training_for_ptb.txt', data_clean_.values, fmt='%s')

## New distribution

In [208]:
idx = [x for x in data_clean.index if data_clean.loc[x,'phrase_id'].endswith('-p1')]
print(len(idx))

13240

                   text
sentiment_score
0                  2132
1                 32806
2                400181
3                 30339
4                  4300
                  13241

In [211]:
data_clean_nd = data_clean.loc[idx]
print(len(data_clean_nd.index))
data_clean_nd.head()

13240

,sentence_id,text,#words,phrase_id,score_correct,is_sent,snlp_sentiment_score,sentiment_score
0,0,"Under Canberra's immigration policy, asylum-se...",28,0-p1,2.0,True,None,2
46,1,"""Baritone roles are usually villainous charact...",14,1-p1,1.0,True,None,1
312,10,The male suspect's father later loaded the bod...,34,10-p1,1.0,True,None,1
3820,100,NEW YORK (AFP) - Dressed as Santas and sexy sn...,34,100-p1,3.0,True,None,3
37117,1000,"The delegates from Angola, Ghana, Mauritius, N...",30,1000-p1,3.0,True,None,3

In [212]:
data_clean_nd.groupby(['sentiment_score'])['text'].count()

sentiment_score
0.0    1730
1.0    2260
2.0    3651
3.0    3398
4.0    2201
Name: text, dtype: int64

In [227]:
data_clean_nd_2 = data_clean_nd[data_clean_nd['sentiment_score']==2].sample(2500, random_state=42)
data_clean_nd_3 = data_clean_nd[data_clean_nd['sentiment_score']==3].sample(2500, random_state=42)
data_clean_nd_ = data_clean_nd[data_clean_nd['sentiment_score']==0]
data_clean_nd_ = data_clean_nd_.append([data_clean_nd_2,data_clean_nd_3,data_clean_nd[data_clean_nd['sentiment_score']==4],\
                                       data_clean_nd[data_clean_nd['sentiment_score']==1]], ignore_index=True)
newdata = data_clean_nd_.sample(frac=1).reset_index(drop=True)

In [228]:
data_clean_nd_.groupby(['sentiment_score'])['text'].count()

sentiment_score
0.0    1730
1.0    2260
2.0    2500
3.0    2500
4.0    2201
Name: text, dtype: int64

In [229]:
len(newdata.index)

11191

In [230]:
newdata.head()

,sentence_id,text,#words,phrase_id,score_correct,is_sent,snlp_sentiment_score,sentiment_score
0,189617-s9,"Pregnancy, labour and afterwards are experienc...",15,189617-s9-p1,3.0,True,None,4
1,3208,"She says: ""I think this has been a ""new normal...",20,3208-p1,2.0,True,None,2
2,3376,Engineers claim the robot's artificial intelli...,20,3376-p1,2.0,True,None,2
3,4163,BDO interviewed 67 finance chiefs from clubs i...,22,4163-p1,1.0,True,None,1
4,156615-s27,Giving herself to the possibility of happy acc...,16,156615-s27-p1,3.0,True,None,3

In [232]:
sidl = newdata['sentence_id'].tolist()
data_nd = data_clean[data_clean['sentence_id'].isin(sidl)]

In [236]:
idx2 = [x for x in data_nd.index if data_nd.loc[x,'phrase_id'].endswith('-p1')]
print(len(idx2))

count=0
for i,grp in data_nd.groupby('sentence_id'):
    print(i,grp)
    count += 1
    if count > 5: break

11191
0    sentence_id                                               text #words  \
0            0  Under Canberra's immigration policy, asylum-se...     28
9            0                           their asylum application      3
10           0                                               they      1
11           0                                          Australia      1
12           0                                   arriving by boat      3
13           0      are transferred to the centres for processing      7
14           0          transferred to the centres for processing      6
15           0                                      is successful      2
16           0      are permanently resettled outside Australia .      6
17           0                      resettled outside Australia .      4
18           0                                              Under      1
1            0                     Canberra 's immigration policy      4
19           0                                         Canberra's      1
20           0                                        immigration      1
21           0                                            policy,      1
22           0                                     asylum-seekers      1
23           0                                           arriving      1
24           0                                                 by      1
25           0                                               boat      1
26           0                                                are      1
27           0                                        transferred      1
28           0                                                 to      1
2            0                                        Canberra 's      2
29           0                                                the      1
30           0                                            centres      1
31           0                                                for      1
32           0                                         processing      1
33           0                                                and      1
34           0                                                 if      1
35           0                                              their      1
36           0                                             asylum      1
37           0                                        application      1
38           0                                                 is      1
3            0                    asylum-seekers arriving by boat      4
39           0                                         successful      1
40           0                                               they      1
41           0                                                are      1
42           0                                        permanently      1
43           0                                          resettled      1
44           0                                            outside      1
45           0                                        Australia..      1
4            0                                     asylum-seekers      1
5            0                                               boat      1
6            0                         the centres for processing      4
7            0                                        the centres      2
8            0                                         processing      1

   phrase_id  score_correct is_sent snlp_sentiment_score sentiment_score
0       0-p1            2.0    True                 None               2
9      0-p10            2.0    None                    2               2
10     0-p11            2.0    None                    2               2
11     0-p12            2.0    None                    2               2
12     0-p13            2.0    None                    2               2
13     0-p14            2.0    None                    2               2
14     0-p15            2.0    None                    2               2
15     0-p16            2.0    None                    3               3
16     0-p17            2.0    None                    2               2
17     0-p18            2.0    None                    2               2
18     0-p19            2.0    None                    2               2
1       0-p2            2.0    None                    2               2
19     0-p20            2.0    None                    2               2
20     0-p21            2.0    None                    2               2
21     0-p22            2.0    None                    2               2
22     0-p23            2.0    None                    2               2
23     0-p24            2.0    None                    2               2
24     0-p25            2.0    None                    2               2
25     0-p26            2.0    None                    2               2
26     0-p27            2.0    None                    2               2
27     0-p28            2.0    None                    2               2
28     0-p29            2.0    None                    2               2
2       0-p3            2.0    None                    2               2
29     0-p30            2.0    None                    2               2
30     0-p31            2.0    None                    2               2
31     0-p32            2.0    None                    2               2
32     0-p33            2.0    None                    2               2
33     0-p34            2.0    None                    2               2
34     0-p35            2.0    None                    2               2
35     0-p36            2.0    None                    2               2
36     0-p37            2.0    None                    2               2
37     0-p38            2.0    None                    2               2
38     0-p39            2.0    None                    2               2
3       0-p4            2.0    None                    2               2
39     0-p40            2.0    None                    4               4
40     0-p41            2.0    None                    2               2
41     0-p42            2.0    None                    2               2
42     0-p43            2.0    None                    2               2
43     0-p44            2.0    None                    2               2
44     0-p45            2.0    None                    2               2
45     0-p46            2.0    None                    2               2
4       0-p5            2.0    None                    2               2
5       0-p6            2.0    None                    2               2
6       0-p7            2.0    None                    2               2
7       0-p8            2.0    None                    2               2
8       0-p9            2.0    None                    2               2
1    sentence_id                                               text #words  \
46           1  "Baritone roles are usually villainous charact...     14
55           1  are usually villainous characters , such as mu...     17
56           1                                               says      1
57           1                                          "Baritone      1
58           1                                              roles      1
59           1                                                are      1
60           1                                            usually      1
61           1                                         villainous      1
62           1                                        characters,      1
63           1                                               such      1
64           1                                                 as      1
47           1                                     Baritone roles      2
65           1                                         murderers,      1
66           1                                            tyrants      1
67           1                                                 or      1
68           1                                         schemers,"      1
69           1                                                 he      1
70           1                                             says..      1
48           1  villainous characters , such as murderers , ty...     15
49           1                                         villainous      1
50           1                                         characters      1
51           1       murderers , tyrants or schemers , '' he says      9
52           1                                          murderers      1
53           1                                tyrants or schemers      3
54           1                                                 he      1

   phrase_id  score_correct is_sent snlp_sentiment_score sentiment_score
46      1-p1            1.0    True                 None               1
55     1-p10            1.0    None                    1               1
56     1-p11            1.0    None                    2               2
57     1-p12            1.0    None                    2               2
58     1-p13            1.0    None                    2               2
59     1-p14            1.0    None                    2               2
60     1-p15            1.0    None                    2               2
61     1-p16            1.0    None                    1               1
62     1-p17            1.0    None                    2               2
63     1-p18            1.0    None                    2               2
64     1-p19            1.0    None                    2               2
47      1-p2            1.0    None                    2               2
65     1-p20            1.0    None                    2               2
66     1-p21            1.0    None                    2               2
67     1-p22            1.0    None                    2               2
68     1-p23            1.0    None                    2               2
69     1-p24            1.0    None                    2               2
70     1-p25            1.0    None                    2               2
48      1-p3            1.0    None                    1               1
49      1-p4            1.0    None                    1               1
50      1-p5            1.0    None                    2               2
51      1-p6            1.0    None                    1               1
52      1-p7            1.0    None                    2               2
53      1-p8            1.0    None                    2               2
54      1-p9            1.0    None                    2               2
2    sentence_id                                               text #words  \
71           2  Five large high-volume, low-speed fans will co...     17
80           2                                              large      1
81           2                                       high-volume,      1
82           2                                          low-speed      1
83           2                                               fans      1
84           2                                               will      1
85           2                                               cool      1
86           2                                             diners      1
87           2                                            without      1
88           2                                            messing      1
89           2                                                 up      1
72           2            Five large high-volume , low-speed fans      6
90           2                                              their      1
91           2                                              hair,      1
92           2                                              while      1
93           2                                               also      1
94           2                                             saving      1
95           2                                           energy..      1
73           2                                             diners      1
74           2                                         their hair      2
75           2                                      saving energy      2
76           2     will cool diners without messing up their hair      8
77           2          cool diners without messing up their hair      7
78           2                              messing up their hair      4
79           2                                               Five      1

   phrase_id  score_correct is_sent snlp_sentiment_score sentiment_score
71      2-p1            3.0    True                 None               3
80     2-p10            3.0    None                    2               2
81     2-p11            3.0    None                    2               2
82     2-p12            3.0    None                    2               2
83     2-p13            3.0    None                    3               3
84     2-p14            3.0    None                    2               2
85     2-p15            3.0    None                    3               3
86     2-p16            3.0    None                    2               2
87     2-p17            3.0    None                    2               2
88     2-p18            3.0    None                    1               1
89     2-p19            3.0    None                    2               2
72      2-p2            3.0    None                    1               1
90     2-p20            3.0    None                    2               2
91     2-p21            3.0    None                    2               2
92     2-p22            3.0    None                    2               2
93     2-p23            3.0    None                    2               2
94     2-p24            3.0    None                    3               3
95     2-p25            3.0    None                    2               2
73      2-p3            3.0    None                    2               2
74      2-p4            3.0    None                    2               2
75      2-p5            3.0    None                    2               2
76      2-p6            3.0    None                    2               2
77      2-p7            3.0    None                    2               2
78      2-p8            3.0    None                    2               2
79      2-p9            3.0    None                    2               2
3     sentence_id                                               text #words  \
96            3  Market players say it could take months for lo...     25
105           3                                  its peculiarities      2
106           3  say it could take months for long-term investo...     25
107           3  could take months for long-term investors to e...     12
108           3  take months for long-term investors to eventua...     11
109           3           to eventually trickle into the programme      6
110           3              eventually trickle into the programme      5
111           3         devise ways to cope with its peculiarities      7
112           3                     to cope with its peculiarities      5
113           3                        cope with its peculiarities      4
114           3                                             Market      1
97            3                                     Market players      2
115           3                                            players      1
116           3                                                say      1
117           3                                                 it      1
118           3                                              could      1
119           3                                               take      1
120           3                                             months      1
121           3                                                for      1
122           3                                          long-term      1
123           3                                          investors      1
124           3                                                 to      1
98            3                                                 it      1
125           3                                         eventually      1
126           3                                            trickle      1
127           3                                               into      1
128           3                                                the      1
129           3                                         programme,      1
130           3                                                 as      1
131           3                                               they      1
132           3                                             devise      1
133           3                                               ways      1
134           3                                                 to      1
99            3                     months for long-term investors      4
135           3                                               cope      1
136           3                                               with      1
137           3                                                its      1
138           3                                    peculiarities..      1
100           3                                             months      1
101           3                                long-term investors      2
102           3                                      the programme      2
103           3                                               they      1
104           3                                               ways      1

    phrase_id  score_correct is_sent snlp_sentiment_score sentiment_score
96       3-p1            1.0    True                 None               1
105     3-p10            1.0    None                    2               2
106     3-p11            1.0    None                    2               2
107     3-p12            1.0    None                    2               2
108     3-p13            1.0    None                    2               2
109     3-p14            1.0    None                    2               2
110     3-p15            1.0    None                    2               2
111     3-p16            1.0    None                    2               2
112     3-p17            1.0    None                    2               2
113     3-p18            1.0    None                    2               2
114     3-p19            1.0    None                    2               2
97       3-p2            1.0    None                    2               2
115     3-p20            1.0    None                    2               2
116     3-p21            1.0    None                    2               2
117     3-p22            1.0    None                    2               2
118     3-p23            1.0    None                    2               2
119     3-p24            1.0    None                    2               2
120     3-p25            1.0    None                    2               2
121     3-p26            1.0    None                    2               2
122     3-p27            1.0    None                    2               2
123     3-p28            1.0    None                    2               2
124     3-p29            1.0    None                    2               2
98       3-p3            1.0    None                    2               2
125     3-p30            1.0    None                    2               2
126     3-p31            1.0    None                    2               2
127     3-p32            1.0    None                    2               2
128     3-p33            1.0    None                    2               2
129     3-p34            1.0    None                    2               2
130     3-p35            1.0    None                    2               2

In [237]:
data_nd.to_csv("110520_distbn2_training_data.csv",index=None)
data_nd = data_nd.sort_values('phrase_id')
data_clean__ = pd.DataFrame()

for idx, grp in data_nd.groupby('sentence_id'):
    data_clean__ = data_clean__.append(grp, ignore_index=True)
    data_clean__['sentence_id'] = idx
    data_clean__ = data_clean__.append(pd.Series(), ignore_index=True)


data_clean_ = data_clean__[['sentiment_score','text']]

In [238]:
def get_int(x):
    try:
        return int(x)
    except:
        return ' '
    
data_clean_['sentiment_score'] = data_clean_['sentiment_score'].apply(lambda x: get_int(x))
data_clean_ = data_clean_.astype(object).replace(np.nan, ' ')
data_clean_.head(100)

/NAS/home01/toshal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

   sentiment_score                                               text
0                2  Under Canberra's immigration policy, asylum-se...
1                2                           their asylum application
2                2                                               they
3                2                                          Australia
4                2                                   arriving by boat
5                2      are transferred to the centres for processing
6                2          transferred to the centres for processing
7                3                                      is successful
8                2      are permanently resettled outside Australia .
9                2                      resettled outside Australia .
10               2                                              Under
11               2                     Canberra 's immigration policy
12               2                                         Canberra's
13               2                                        immigration
14               2                                            policy,
15               2                                     asylum-seekers
16               2                                           arriving
17               2                                                 by
18               2                                               boat
19               2                                                are
20               2                                        transferred
21               2                                                 to
22               2                                        Canberra 's
23               2                                                the
24               2                                            centres
25               2                                                for
26               2                                         processing
27               2                                                and
28               2                                                 if
29               2                                              their
..             ...                                                ...
70               2                                tyrants or schemers
71               2                                                 he
72
73               3  Five large high-volume, low-speed fans will co...
74               2                                              large
75               2                                       high-volume,
76               2                                          low-speed
77               3                                               fans
78               2                                               will
79               3                                               cool
80               2                                             diners
81               2                                            without
82               1                                            messing
83               2                                                 up
84               1            Five large high-volume , low-speed fans
85               2                                              their
86               2                                              hair,
87               2                                              while
88               2                                               also
89               3                                             saving
90               2                                           energy..
91               2                                             diners
92               2                                         their hair
93               2                                      saving energy
94               2     will cool diners without messing up their hair
95               2          cool diners without messing up their hair
96               2                              messing up their hair
97               2                                               Five
98
99               1  Market players say it could take months for lo...

[100 rows x 2 columns]

In [239]:
np.savetxt(r'110520_distbn2_training_for_ptb.txt', data_clean_.values, fmt='%s')